

    <body> -->
        <!-- Side navigation -->
<div class="sidenav">
    <a href="">Home</a>
    <a  href="users">Users
      <div class="nav1"> 
           <a  href="add">Add Users</a>
           <a href="delete">Delete User</a>
          <a  href="edit">Edit User</a>
        </div>
    </a>
</div>
  
<!-- Nav Bar -->

<div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users">Users</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sign">Sign In</a>
          </li>
      </ul>
</div>
  
    </body>



